#encoding utf-8
#import base
#extends base.base

#def head
#if $success and $adhesion is None
<meta http-equiv="refresh" content="0;URL=http://m.pancito.fr/contract?u=$user.id&c=$params.getfirst('c')&t=$params.getfirst('t')">
#end if
#end def

#def content
#set printSty = $params.getfirst('print')
#set $admin = $params.getfirst('admin')
#if not($success or $error)
#if $admin
<h1>Commandes de ${user.name}</h1>
#else
#if $printSty
<h1>Calendrier de distribution</h1>
#else
<p class="info">Vous êtes identifié(e) en tant
que «&nbsp;$user.name&nbsp;».
#if $adhesion is None
Voici la liste des distributions pour la saison pré-remplie avec vos choix
hebdomadaires.  Si vous souhaitez personnaliser votre calendrier de
distribution, veuillez faire les modifications nécessaires.  <b>Cliquez ensuite
sur le bouton <i>Enregistrer</i> pour valider votre adhésion.</b>
#else
Voici votre calendrier de distribution.  Faites les modifications nécessaires, puis cliquez
sur le bouton <i>Enregistrer</i>.
#end if
#end if
</p>
#end if
#elif $success
<div class="success">
Votre calendrier de distribution a été enregistré.
#if $adhesion is None
<b>Le contrat d'adhésion est en cours de chargement, veuillez le lire
attentivement, l'imprimer et le renvoyer signé avec le paiement correspondant.
Merci!</b>
#end if
</div>
#end if

#if $adhesion
<div class="main aux">
<h2>Adhésion</h2>
<div class="content">
<table class='order'>
<tr>
<td width="30%"><b>Montant de l'adhésion</b></td>
<td>$adhesion.displayAmount €
#if $adhesion.paperwork_verified is None
<span class="negative">En attente de règlement</span>
#end if
</td>
</tr>
<tr>
<td width="30%"><b>Montant de la commande</b></td>
<td>$adhesion.displayOrderAmount €</td>
</tr>
#if $adhesion.paperwork_verified
<tr>
<td width="30%"><b>Solde</b></td>
<td>
#if $adhesion.balance >= 0
$adhesion.displayBalance €
#else
<span class="negative">$adhesion.displayBalance €</span>
#end if
</td>
</tr>
#end if
</table>
</div>
</div>
#end if

<div class="main aux">
<h2>Distribution</h2>
<div class="content">
<table class='order'>
<tr>
<td width="30%"><b>Lieu</b></td>
<td>$contract.place</td>
</tr>
<tr>
<td><b>Horaire</b></td>
<td>$contract.timeslot</td>
</tr>
<tr>
<td><b>Période</b></td>
<td>du $contract.startdate.strftime("%A %d %B %Y") au $contract.enddate.strftime("%A %d %B %Y")</td>
</tr>
</table>
</div>
</div>

<div class="main aux">
<h2>Prix du pain</h2>
<div class="content">
<table class='order'>
#for $j, $product in enumerate($products)
<tr>
<td width="30%"><b>$product.name</b></td>
<td>$displayAmount($product.itemprice) € l'unité</td>
</tr>
#end for
</table>
</div>
</div>
#def submit
      <input class="submit" type="image" value="Enregistrer" width="140px" src="http://dl.dropbox.com/u/5836407/Pancito/Enregistrer.png">
#end def
<form method="POST">
  <div class="main">
#if not $success and not $printSty
    <div style="float: right; padding: 1em">
	$submit
    </div>
#end if
<h2>Calendrier de distribution
<span class="important note">Vous décidez uniquement de la quantité et du poids du
pain sur ce formulaire.  Lors de la distribution vous pourrez choisir la
variété de pain en fonction de la production du jour.</span>
</h2>
    <div class="content">
      <table class="adhesionorder">
  #for $i, $bake in enumerate($bakes)
  #import datetime
  #set active = ($bake.bakedatetime + datetime.timedelta(hours=12)) > $now or $admin
<tr class="odd${i % 2}">
<td class="adhesionorder title">
  #if $active
  <input type="hidden" name="sb" value="$bake.rowid">
  #end if
  #set $orders = $bake.orders
$bake.bakedate.strftime("%A %d %B %Y")
</td>
<td class="adhesionorder">
<table class="products">
#for $j, $product in enumerate($products)
    #if len($orders) > 0
        #set $order = $orders[$j]
    #else
        #set $order = None
    #end if
        #set $adhesionOrder = $adhesionOrders[$j]
<tr>
          <td>
            <i>
            $product.name
            </i>
</td>
<td>
#if $active and not $success
    #if $order
        #set $qty = $order.quantity
    #else
        #set $qty = $adhesionOrder.quantity
    #end if
    <input type="text" name="bake.${bake.rowid}.${product.id}" value="$qty">
#else
    #if $order
        #set $qty = $order.quantity
    #else
        #set $qty = 0
    #end if
    &nbsp; <span class="quantity">$qty</span>
#end if
  </td>
</tr>
#end for
</table>
</td>
        </tr>
#end for
#if not $success and not $printSty
        <tr>
          <td class="submit" colspan=2>
            <div style="text-align: right">
		$submit
            </div>
          </td>
        </tr>
#end if
      </table>
    </div>
  </div>
</form>
#end def
