#encoding utf-8
#import base
#extends base.base

#def content
#set printSty = $params.getfirst('print')
<div class="main">
<div class="content">
<table class="poll">
	<thead>
		<tr>
			<td colspan=2><div class="note"><a href="?db=1">Debug balance</a><br><a href="?zb=0">Hide zero balance</a></div></td>
			#for $bakeDate, $ordersByUser in $bakeOrdersByDate
			<td class="d">
#if $printSty
			$bakeDate
#else
#set $bakeIds = "&amp;".join(["b=%s" % b['rowid'] for b in $bakes if b['bakedate']==$bakeDate])
			<a href="?$bakeIds">$bakeDate</a>
#end if
			</td>
			#end for
#if not $printSty
			<td>Solde</td>
#end if
			<td></td>
		</tr>
	</thead>
	<tbody>
		#for $user in $users
#set balance = (sum([x['amount'] for x in $user.adhesions]) + sum([x['amount'] for x in $user.extra_payments]) - sum([x['amount'] for x in $allOrdersByUser.get($user.id) or []])) / 100
#set $hideZeroBalance = ($params.getfirst('zb') == "0")
#if not($hideZeroBalance) or $hideZeroBalance and $balance != 0
		<tr>
			<td class="pname member-$user.ismember mailing-$user.ismailing">
			${$user.name or $user.email}
			</td>
<td>
#if $user.place
<a href="?p=${user.place_id}">$user.place.nickname</a>
#end if
</td>
			#for $bakeDate, $ordersByUser in $bakeOrdersByDate
			#set $orders = $ordersByUser.get($user.id)
			#if $orders and sum($orders.values()) > 0
			<td class="y">
			${orders.get(1) or 0}&nbsp;+&nbsp;${orders.get(2) or 0}
			</td>
			#elif $orders
			<td class="n"></td>
			#else
			<td class="na"></td>
			#end if
			#end for
#if $hideZeroBalance or not $printSty
<td>
<span class="balance-${int($balance >= 0)}">$balance</span>
#set debug = ($params.getfirst('db') == '1')
#if debug
= (${sum([x['amount'] for x in $user.adhesions])} + ${sum([x['amount'] for x in $user.extra_payments])} - ${sum([x['amount'] for x in $allOrdersByUser.get($user.id) or []])}) / 100
#end if
</td>
#end if
			<td>
#if not $printSty
			<a href="/order?userId=${user.id}&amp;t=$genToken($user)&amp;admin=1">Orders</a>
#if $user.currentAdhesion
#set $contractId = $user.currentAdhesion.contract_id
#else
#set $contractId = $contractsByPlace[$user.place_id].id
#end if
#if $contractId
#set $token = $genToken($user, $contractId)
			<a href="/register?u=${user.id}&amp;c=$contractId&amp;t=$token">Registration</a>
			<a href="/adhesion?u=${user.id}&amp;c=$contractId&amp;t=$token">Adhesion</a>
#else
#set $token = $genToken($user)
			<a href="/register?u=${user.id}&amp;t=$token">Registration</a>
#end if
#end if
			</td>
		</tr>
#end if
		#end for
	</tbody>
	<tfoot>
		<tr>
			<td colspan=2>Total commandes</td>
			#for $bakeDate, $ordersByUser in $bakeOrdersByDate
			<td>
			$sum([$orders.get(1) or 0 for $orders in $ordersByUser.values()])
			+
			$sum([$orders.get(2) or 0 for $orders in $ordersByUser.values()])
			</td>
			#end for
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan=2>Total pain cuit</td>
			#for $bakeDate, $ordersByUser in $bakeOrdersByDate
			<td>
			${round((sum([$orders.get(1) or 0 for $orders in $ordersByUser.values()]) * 0.7
			+
			sum([$orders.get(2) or 0 for $orders in $ordersByUser.values()]) * 1.4), 1)}
			</td>
			#end for
			<td>&nbsp;</td>
		</tr>
#if not $printSty
		<tr>
			<td colspan=2>Total pâte</td>
			#for $bakeDate, $ordersByUser in $bakeOrdersByDate
			<td>
			${round(sum([$orders.get(1) or 0 for $orders in $ordersByUser.values()]) * 0.875
			+
			sum([$orders.get(2) or 0 for $orders in $ordersByUser.values()]) * 1.75, 1)}
			</td>
			#end for
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan=2>Total levain</td>
			#for $bakeDate, $ordersByUser in $bakeOrdersByDate
			<td>
			${round((sum([$orders.get(1) or 0 for $orders in $ordersByUser.values()]) * 0.875
			+
			sum([$orders.get(2) or 0 for $orders in $ordersByUser.values()]) * 1.75) / 18.6, 2)}
			</td>
			#end for
			<td>&nbsp;</td>
		</tr>
#end if
	</tfoot>
</table>
</div>
</div>
#end def
