#encoding utf-8
#def field(k)
${params.getfirst(k)}
#end def
#def submit
      <input class="submit" type="image" value="Enregistrer" width="140px" src="http://dl.dropbox.com/u/5836407/Pancito/Enregistrer.png">
#end def
<html>
<head>
#block head
#end block
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>Pancito</title>
#set printSty = $params.getfirst('print')

<style type="text/css">
body {
#if $printSty
font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
#else
font: normal normal 15px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color: white;
background: #111111 url(http://3.bp.blogspot.com/-g9tyFyMbiHY/T6KwI7gX0VI/AAAAAAAAE_w/pGWBQwVYrrk/s1600/pancito.JPG) repeat scroll top left;
margin-left: 25%;
margin-right: 25%;
#end if
}

#if printSty
h1 {
    padding-top: 25px;
}
td {
font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}
#end if

h1, h2 {
font-weight: normal;
}

td.adhesionorder {
border-bottom: 1px solid #AAAAAA;
}
.adhesionorder td{
font-size: .8em;
}

tr.odd1 td {
background-color: #DFDFDF;
}
.adhesionorder .title {
font-size: .8em;
font-weight: bold;
padding: 1em;
}

table.adhesionorder {
	width: 100%;
border-collapse: separate;
border-spacing: 0
}

table.order {
	width: 100%;
border-collapse: separate;
border-spacing: 0
}

table.order td {
border-bottom: 1px solid #AAAAAA;
padding: 1em;
}

table.order td.submit, table.adhesionorder td.submit {
background-color: #DFDFDF;
padding: 1em;
}

input.submit {
    font-weight: bold;
    font-size: 14px;
}

table.poll {
border-collapse: separate;
border-spacing: 0
}
table.poll tr td {
#if $printSty
border-bottom: 1px solid black;
#else
border-bottom: 1px solid white;
#end if
padding: 6px;
}
table.poll tr td.n {
background-color: #FFCCCA;
}
table.poll tr td.y {
background-color: #D1F3D1;
}
table.poll tr td.p {
background-color: #B2D1F9;
}

table.poll tr td.pname, table.poll tr td.na {
background-color: #EFEFEF;
}

table.poll tr td.na {
background-color: #F8F8F8;
}

table.poll tr td.d {
#if not $printSty
background-color: #3385E4;
color: white;
#end if
}

.main h2 {
    padding: .5em;
    padding-bottom: 0;
}

.main h2.success, .info, .success, .warning, .error {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('knobs/Knob%20Info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('knobs/Knob%20Valid%20Green.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('knobs/Knob%20Attention.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('knobs/Knob%20Cancel.png');
}
.negative {
    color: #D8000C;
    background-color: #FFBABA;
    font-weight: bold;
}

.aux h2 {
    font-size: 12px;
    font-weight: bold;
}

.aux td {
    font-size: 11px;
}

.note {
    font-size: 11px;
    display: block;
}

.important {
    font-weight: bold;
    font-size: 12px;
}

.main {
    color: #333333;
    background-color: #DFDFDF;
}

.content {
    border-top: 1px solid #AAAAAA;
    background-color: white;
    color: black;
}

.content td {
    background-color: white;
    color: black;
}

.content-body {
    padding: 1em;
}

.text {
    padding: 1em;
}

.member-1 {
    font-weight: bold;
}

.mailing-0 {
    text-decoration: line-through;
}

.balance-0 {
    font-weight: bold;
    color: red;
}

.past-1 {
		font-size: .7em;
		margin-left: 4em;
}

.past-1 td {
		font-size: .7em;
}

.modified {
    font-weight: bold;
    color: red;
}
</style>
</head>

<body>
#if $printSty
<a href="http://www.pancito.fr/">
<img alt="Pancito - boulangerie alternative à Toulouse" width="200px" src="http://dl.dropbox.com/u/5836407/Pancito-headline-black.png">
</a>
#else
<a href="http://www.pancito.fr/" style="display: block">
<img alt="Pancito - boulangerie alternative à Toulouse" height="79px; " id="Header1_headerimg" src="http://1.bp.blogspot.com/-xHAstUDvDqY/UFM1kif9yQI/AAAAAAAAFD8/46JCU4aGkQI/s1600/Headline.png" style="display: block" width="252px; ">
</a>
#end if

#if $warning
<div class="warning">
$warning
</div>
#end if

#if $error
<div class="error">
$error
</div>
#end if

#block content
#end block
</body>

</html>
