#encoding utf-8
#import base
#extends base.base

#def content
<h1>Inscription confirmée</h1>

<p class="info">Vous êtes identifié en tant que «&nbsp;$user.name&nbsp;». Votre
inscription est maintenant confirmée.</i></p>

<div class="main">
<h2 class="success">Nous avons bien noté vôtre intérêt pour Pancito.  L'adhésion vous sera proposée en fonction des
places disponibles.  Nous vous tiendrons informé par email.</h2>
</div>
#end def
