#encoding utf-8
#import base
#extends base.base

#def content
#set $admin = $params.getfirst('admin')
#if $admin
<h1>Commandes de ${user.name}</h1>
#elif not($success)
<p class="info">Vous êtes identifié en tant que «&nbsp;$user.name&nbsp;». Pour commander du pain, renseignez la quantité puis cliquez sur le bouton <i>Enregistrer</i></p>
#end if

<form method="POST">
	#for $bake in $bakes
	#import datetime
	#set active = ($bake.bakedatetime - datetime.timedelta(hours=4)) > $now or $admin
	#set past = int(not($active))
	#if $active
	<input type="hidden" name="b" value="$bake.rowid">
	#end if
	#set $orders = $bake.orders.get($user.rowid) or {}
	<div class="main past-$past">
		<h2>Fournée du $bake.bakedate.strftime("%A %d %B %Y")</h2>
		<div class="content">
			#if $bake.initialOrders.get($user.rowid) and $active
			<div class="warning" style="margin: .5em">Cette commande a déjà été enregistrée le $orders.get(1).creation_time.strftime("%A %d %B %Y à %Hh%M")</div>
			#end if
			<table class="order">
				#for $product in $products
				#set $order = $orders.get($product.rowid)
				<tr>
					<td>
						<i>
						$product.name
						</i>
						</td>
						<td>
						Quantité:&nbsp;
						#if $order
						#set $qty = $order.quantity
						#else
						#set $qty = 0
						#end if
						#if $active
						<input type="text" name="bake.${bake.rowid}.${product.rowid}" value="$qty">
						#else
						<span class="quantity">$qty</span>
						#end if
					</td>
				</tr>
				#end for
				#if $active
				<tr>
					<td class="submit" colspan=2>
						<div style="text-align: right">
							<input type="submit" value="Enregistrer">
						</div>
					</td>
				</tr>
				#end if
			</table>
		</div>
	</div>
	#end for
</form>
#end def
