#encoding utf-8
#import base
#extends base.base

#def content
#set $admin = $params.getfirst('admin')
#if not($success or $error)
#if $admin
<h1>Commandes de ${user.name}</h1>
#else
<p class="info">Vous êtes identifié en tant que «&nbsp;$user.name&nbsp;». Pour commander du pain, renseignez la quantité puis cliquez sur le bouton <i>Enregistrer</i></p>
#end if
#elif $success
<div class="success">
$success
</div>
#end if

#if $wallet
$walletDetails
#end if

<form method="POST">
  #for $bake in $bakes
  #import datetime
  #set active = ($bake.bakedatetime + datetime.timedelta(hours=12)) > $now or $admin
  #set past = int(not($active))
  #if $active
  <input type="hidden" name="sb" value="$bake.rowid">
  #end if
  #set $orders = $bake.orders.get($user.id) or {}
  <div class="main past-$past">
    <h2>Fournée du $bake.bakedate.strftime("%A %d %B %Y")
<div class="note">Distribution $bake.contract.place.name $bake.contract.timeslot</div>
</h2>
    <div class="content">
      #if $bake.initialOrders.get($user.id) and $active
      <div class="warning" style="margin: .5em">Cette commande a déjà été enregistrée le $orders.get(1).creation_time.strftime("%A %d %B %Y à %Hh%M")</div>
      #end if
      <table class="order">
        #for $product in $products
        #set $order = $orders.get($product.id)
        <tr>
          <td>
            <i>
            $product.name &ndash; $displayAmount($product.itemprice) € l'unité
            </i>
            </td>
            <td>
            Quantité:&nbsp;
            #if $order
            #set $qty = $order.quantity
            #else
            #set $qty = 0
            #end if
            #if $active
            <input type="text" name="bake.${bake.rowid}.${product.id}" value="$qty">
            #else
            <span class="quantity">$qty</span>
            #end if
          </td>
        </tr>
        #end for
        #if $active
        <tr>
          <td class="submit" colspan=2>
            <div style="text-align: right">
              <input type="submit" value="Enregistrer">
            </div>
          </td>
        </tr>
        #end if
      </table>
    </div>
  </div>
  #end for
</form>
#end def
