#encoding utf-8
#import base
#extends base.base

#def field(k)
#if $user
${params.getfirst(k) or $user[$k]}
#else
${params.getfirst(k)}
#end if
#end def

#def content
#set printSty = $params.getfirst('print')
#if not($success or $error)
#if $printSty
<h1>Formulaire d'inscription</h1>
#else
<p class="info">Vous êtes intéressé(e) par nos distributions de pain? Veuillez
renseigner ce formulaire d'inscription, puis cliquez sur le bouton
<i>Enregistrer</i></p>
#end if
#else if $success
<div class="success">Votre demande d'inscription a bien été prise en compte,
vous allez recevoir un email de confirmation. Si vous ne recevez rien, merci de
vérifier que le message n'est pas dans le dossier Spam. Si vous ne retrouvez pas
notre email, il s'agit probablement d'une erreur de saisie, dans ce cas
<a href="/register">recommencez l'inscription</a>.</div>
#end if

<form method="POST" accept-charset="UTF-8">
#* hidden fields to propagate optional parameters *#
<input type="hidden" name="c" value="$params.getfirst('c')">
<input type="hidden" name="u" value="$params.getfirst('u')">

  <div class="main">
    <h2>Vos coordonnées</h2>
    <div class="content">
      <table class="order">
        <tr>
          <td width="30%">Nom complet</td>
          <td>
#if $success
          $field('name')
#else
            <input type='text' name='name' size="40" value="$field('name')">
            <span class="note">Par exemple: <i>M. et Mme Durand</i>, <i>Alain
Maubert</i>, <i>Famille Truchaud</i>…</span>
#end if
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
#if $success
          <tt>$field('email')</tt>
#else
            <input type='text' name='email' size="40" value="$field('email')">
            <span class="note">Vous allez recevoir des instructions à cette adresse pour
            compléter votre inscription</span>
#end if
          </td>
        </tr>
        <tr>
          <td>Adresse</td>
          <td>
#if $success
          <pre>$field('address')
$field('postcode') $field('locality')</pre>
#else
            <textarea cols='40' name='address'>$field('address')</textarea>
        </td>
        </tr>
        <tr>
          <td>Code postal</td>
          <td><input type='text' name='postcode' value="$field('postcode')"></td>
        </tr>
        <tr>
          <td>Ville</td>
          <td><input type='text' name='locality' value="$field('locality')">
#end if
          </td>
        </tr>
        <tr>
          <td>Téléphone</td>
          <td>
#if $success
$field('phone')
#else
            <input type='text' name='phone' value="$field('phone')">
            <span class="note">Ce numéro de téléphone sera utilisé pour vous
            prévenir au cas où une distribution doit être annulée en dernière
            minute.</span>
#end if
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="main">
    <h2>Comment avez-vous connu Pancito?</h2>

    <div class="content">
      <textarea style="width: 100%" cols='40' name='comment'>$field('comment')</textarea>
    </div>
  </div>

  <div class="main">
    <h2>Commande hebdomadaire, à titre indicatif
    <span class="important note">Vous pourrez par la suite affiner ce choix et personnaliser votre calendrier de distribution</span>
    </h2>

    <div class="content">
      <table class="order">
        #for i, product in enumerate($products)
        <tr>
          <td>
            <i>
            $product.name &ndash; $displayAmount($product.itemprice) € l'unité
            </i>
          </td>
          <td>
            Quantité:&nbsp;
#if $success
            ${params.getfirst("product.%s" % $product.id)}
#else
#if $orders
            <input type="text" size="2" name="product.${product.id}" value="${params.getfirst("product.%s" % $product.id) or $orders[$i].quantity}">
#else
            <input type="text" size="2" name="product.${product.id}" value="${params.getfirst("product.%s" % $product.id)}">
#end if
#end if
          </td>
        </tr>
        #end for
#if not $success and not $printSty
        <tr>
          <td class="submit" colspan=2>
            <div style="text-align: right">
              <input type="submit" value="Enregistrer">
            </div>
          </td>
        </tr>
#end if
      </table>
    </div>
  </div>
</form>
#end def
