#encoding utf-8
From: Jean-Baptiste Quenot <jbq@pancito.fr>
To: $email
Subject: $encodeHeader("Confirmation de votre demande d'inscription")
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit

Bonjour,

Vous avez fait une demande d'inscription à
Pancito.  Pour vérifier que votre adresse
email est correcte et afin de compléter cette
demande, veuillez cliquer sur le lien
suivant:

$emailConfirmationUrl

Merci par avance,
-- 
J.B. Quenot
http://www.pancito.fr/

Si vous recevez ce mail par erreur, ou si
vous ne souhaitez plus faire partie de la
liste de diffusion de Pancito, veuillez vous
désinscrire à l'aide du lien suivant:
$unsubscribeUrl
